@model AutoRapide.MVC.Models.Usager
@{
    ViewData["Title"] = "Votre compte";
}

<h1>Votre compte</h1>

<div>
    <h4>>@Html.ActionLink("Modifier vos informations", "Modifier", new { code = Model.CodeUniqueUsager })</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom) @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Vehicules" asp-action="Index">Retour à la page d'accueil</a>
</div>
